<header class="my-2 border container">
    <div class="row d-flex">
        <h4 class="col-3 align-self-center">Bảng điều khiển</h4>
        <h5 class="col-3 align-self-center">Số liệu vừa qua</h5>
        <div class="col-6">
            <ul class="list-inline d-flex align-items-center" style="width: 100%; height: 100%;">
                <li class="list-inline-item d-flex" style="height: 100%">
                    <h6 class="d-inline align-self-center ">1&nbsp;<p>Positions<br>Activated</p>
                    </h6>
                </li>
                <li class="list-inline-item d-flex" style="height: 100%">
                    <h6 class="align-self-center d-inline">1&nbsp;<p>New<br>Candidates</p>
                    </h6>
                </li>
                <li class="list-inline-item d-flex" style="height: 100%">
                    <h6 class="align-self-center d-inline">0&nbsp;<p>Candidates<br>Moved Forward</p>
                    </h6>
                </li>
                <li class="list-inline-item d-flex" style="height: 100%">
                    <h6 class="align-self-center d-inline">0&nbsp;<p>Candidates<br>Hired</p>
                    </h6>
                </li>
            </ul>
        </div>
    </div>
</header>
<div class="row my-2" style="height:100%">
    <div class="col">
        <div class="container border">

        </div>
    </div>
    <div class="col">
        <div class="container border">

        </div>
    </div>
    <div class="col">
        <div class="container border">

        </div>
    </div>

</div>