<!-- Open position Report -->
<div id="reportNo10" class="container" style="height: 100%; display: none">
    <div class="container mx-0 px-0 d-flex justify-content-between">
        <h5>Báo cáo vị trí trống</h5>
        <h7>Apr 1st, 2019 - Apr 14th, 2019</h7>
    </div>
    <!-- Table -->
    <div class="container mx-0 px-0 pb-3 my-3 border rounded" style="background: #F9FAFA">
        <!-- Header -->
        <div class="container mt-3 d-flex justify-content-between align-items-center">
            <h6>Thống kê vị trí trống</h6>
            <button class="btn py-1 px-1" style="background: #edeff0">
                <i class="fas fa-cloud-download-alt text-secondary"></i>
                <small class="text-secondary">Xuất file</small>
            </button>
        </div>
        <!-- Table content -->
        <div class="container my-3" style="width: 95%;overflow-x:auto">
            <table style="width: 150%" border=1 frame=void rules=rows>
                <tr style="font-size: 13px; text-align: center">
                    <td height="50">Vị trí</td>
                    <td height="50">Mã yêu cầu</td>
                    <td height="50">Người tạo</td>
                    <td height="50">Địa điểm</td>
                    <td height="50">Ngày taọ</td>
                    <td height="50">Đã đăng ký</td>
                    <td height="50">Phản hồi</td>
                    <td height="50">Phỏng vấn</td>
                    <td height="50">Đưa ra đề nghị</td>
                    <td height="50">Không đủ tiêu chuẩn</td>
                    <td height="50">Được nhận</td>
                </tr>
            </table>
        </div>
    </div>
    <!-- Empty chart -->
    <div class="container mx-0 px-0 pb-3 my-3 border rounded" style="background: #F9FAFA">
        <!-- Header -->
        <div class="container mt-3 d-flex justify-content-between align-items-center">
            <h6>Position Count By User</h6>
            <button class="btn py-1 px-1" style="background: #edeff0">
                <i class="fas fa-cloud-download-alt text-secondary"></i>
                <small class="text-secondary">Xuất file</small>
            </button>
        </div>
        <div class="container mt-3 d-flex justify-content-between align-items-center"></div>
        <!-- Chart content -->
        <!-- Chart -->
        <div class="container border rounded py-3 py-2 d-flex justify-content-center align-items-center"
            style="width: 95%;height: 200px; background: #ffffff">
            <h7>Chưa có dữ liệu</h7>
        </div>
    </div>
    <!-- Empty chart -->
    <div class="container mx-0 px-0 pb-3 my-3 border rounded" style="background: #F9FAFA">
        <!-- Header -->
        <div class="container mt-3 d-flex justify-content-between align-items-center">
            <h6>Trung bình những ngày trống của người dùng</h6>
            <button class="btn py-1 px-1" style="background: #edeff0">
                <i class="fas fa-cloud-download-alt text-secondary"></i>
                <small class="text-secondary">Xuất file</small>
            </button>
        </div>
        <div class="container mt-3 d-flex justify-content-between align-items-center"></div>
        <!-- Chart content -->
        <!-- Chart -->
        <div class="container border rounded py-3 py-2 d-flex justify-content-center align-items-center"
            style="width: 95%;height: 200px; background: #ffffff">
            <h7>Chưa có dữ liệu</h7>
        </div>
    </div>
</div>