<div class="container" style="height:100%">
    <!-- Header -->
    <div class="row flex-nowrap align-items-center">
        <a class="hamburger" href="#"><i class="fa fa-chevron-left"></i><i class="fa fa-chevron-right"></i></a>
        <div class="container">
            <h5 class="text-light my-0">Cloudjet</h5>
            <small class="text-light">Hong Le Viet</small>
        </div>
        <div class=" d-flex">
            <div class="dropdown">
                <a id="sideBarMenu" class="btn pl-0 py-0" href="#" id="dropdownNotification" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-bell text-secondary"></i>
                </a>
                {% include sidebar_notification.html %}
            </div>
            <div class="dropdown">
                <a id="sideBarMenu" class="btn pl-0 py-0" href="#" id="dropdownConfiguration" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-cog text-secondary"></i>
                </a>
                {% include sidebar_setting.html %}
            </div>
        </div>
    </div>
    <!-- Search and menu -->
    <div class="container">
        <ul class="nav flex-column">
            <li class="nav-item my-3">
                <form class="form-inline">
                    <input id="sidebarSearchBar" class="form-control" type="text" placeholder="Tìm kiếm ứng viên"
                        aria-label="Search"
                        style="background-color:#767676; font-size: 13px; border: none; width: 100%; height: 90%;">
                </form>
            </li>
            <li class="nav-item">
                <a id="sideBarMenu" class="nav-link pl-0 text-secondary" href="/">
                    <i class="fas fa-home">&nbsp;</i>
                    <h7>Trang chủ</h7>
                </a>
            </li>
            <li class="nav-item">
                <a id="sideBarMenu" class="nav-link pl-0 text-secondary" href="/inbox">
                    <i class="fas fa-envelope">&nbsp;</i>
                    <h7>Hộp thoại</h7>
                </a>
            </li>
            <li class="nav-item d-flex justify-content-between align-items-center">
                <a id="sideBarMenu" class="nav-link d-flex align-items-center pl-0 text-secondary" href="/tasks">
                    <i class="fas fa-check-square">&nbsp;&nbsp;</i>
                    <h7>Công việc</h7>
                </a>
                <button class="btn btn-primary btn-sm ml-auto d-flex" href="#"
                    style="padding:2px; height: fit-content;">
                    <i class="fa fa-plus" data-toggle="modal" data-target="#taskModal"></i>
                </button>
                {% include createTask.html %}
            </li>
            <li class="nav-item">
                <a id="sideBarMenu" class="nav-link pl-0 text-secondary" href="/calendar">
                    <i class="far fa-calendar-alt">&nbsp;&nbsp;</i>
                    <h7>Lịch</h7>
                </a>
            </li>
            <li class="nav-item">
                <a id="sideBarMenu" class="nav-link pl-0 text-secondary" href="/report">
                    <i class="fas fa-chart-bar">&nbsp;</i>
                    <h7>Báo cáo</h7>
                </a>
            </li>
            <li class="nav-item">
                <a id="sideBarMenu" class="nav-link pl-0 text-secondary" href="/talentSearch">
                    <i class="fas fa-search">&nbsp;</i>
                    <h7>Tìm kiếm tài năng</h7>
                </a>
            </li>
            <li class="nav-item d-flex justify-content-between align-items-center">
                <a id="sideBarMenu" class="nav-link d-flex align-items-center pl-0 text-secondary" href="/position">
                    <i class="fas fa-briefcase">&nbsp;&nbsp;</i>
                    <h7>Vị trí</h7>
                </a>
                <button class="btn btn-primary btn-sm ml-auto d-flex" href="#"
                    style="padding:2px; height: fit-content;">
                    <i class="fa fa-plus" data-toggle="modal" data-target="#taskModal"></i>
                </button>
                {% include createTask.html %}
            </li>
            <li class="nav-item d-flex justify-content-between align-items-center">
                <a id="sideBarMenu" class="nav-link d-flex align-items-center pl-0 text-secondary" href="/candidate">
                    <i class="fas fa-users">&nbsp;</i>
                    <h7>Ứng cử viên</h7>
                </a>
                <button class="btn btn-primary btn-sm ml-auto d-flex" href="#"
                    style="padding:2px; height: fit-content;">
                    <i class="fa fa-plus" data-toggle="modal" data-target="#candidateModal"></i>
                </button>
                {% include addCandidate.html %}
            </li>
        </ul>
    </div>
</div>