<div class="sidebar-settings dropdown-menu" id="sidebar-setting" aria-labelledby="dropdownConfiguration">
    <div class="current-user">
        <avatar person="shared.user" class="ng-isolate-scope avatar color4" initial="H">
            <img src="https://breezy-avatars.imgix.net/8b49f/20190325095513.jpg?w=200&amp;h=200&amp;crop=faces&amp;fit=crop">
        </avatar>
        <div class="details">
            <h2 class="name ng-binding">Hong Le Viet</h2>
            <h3 class="email ng-binding">hong@cloudjetkpi.com</h3>
        </div>
    </div>
    <ul class="nav d-block">
        <li class="nav-item">
            <a class="dropdown-item px-0 text-secondary" href="#">
                <i class="fas fa-user">&nbsp;&nbsp;</i>
                <small>Thiết lập người dùng</small>
            </a>
        </li>
        <li class="nav-item">
            <a class="dropdown-item px-0 text-secondary" href="#">
                <i class="fas fa-question-circle">&nbsp;&nbsp;</i>
                <small>Trợ giúp & Tài liệu</small>
            </a>
        </li>
        <li class="nav-item">
            <a class="dropdown-item px-0 text-secondary" href="#">
                <i class="fas fa-keyboard">&nbsp;&nbsp;</i>
                <small>Các phím tắt</small>
            </a>
        </li>
        <li class="nav-item">
            <a class="dropdown-item px-0 text-secondary" href="#">
                <i class="fas fa-sign-out-alt">&nbsp;&nbsp;</i>
                <small>Đăng xuất</small>
            </a>
        </li>
    </ul>
    <div class="dropdown-divider"></div>
    <div class="current-company">
        <span class="avatar initial ng-binding" style="background: rgb(58, 55, 62)">C</span>
        <div class="details">
            <h2 class="company-name ng-binding">Cloudjet</h2>
            <h3 class="url">
                <a href="https://cjs.breezy.hr/" target="_blank" class="ng-binding">https://cjs.breezy.hr/</a>
            </h3>
        </div>
    </div>
    <ul class="nav d-block">
        <li class="nav-item">
            <a class="dropdown-item px-0 text-secondary" href="#">
                <i class="fas fa-building">&nbsp;&nbsp;</i>
                <small>Công ty</small>
            </a>
        </li>
        <li class="nav-item">
            <div class="dropdown dropright">
                <a class="dropdown-item dropdown-toggle px-0 text-secondary" href="#">
                    <i class="fas fa-cogs">&nbsp;&nbsp;</i>
                    <small> Tuyển dụng</small>
                </a>
                <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                    <li class="dropdown-item"><a tabindex="-1" href="#">Second level</a></li>
                    <li class="dropdown-submenu">
                        <a class="dropdown-item" href="#">Even More..</a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-item"><a href="#">3rd level</a></li>
                            <li class="dropdown-submenu"><a class="dropdown-item" href="#">another
                                    level</a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-item"><a href="#">4th level</a></li>
                                    <li class="dropdown-item"><a href="#">4th level</a></li>
                                    <li class="dropdown-item"><a href="#">4th level</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-item"><a href="#">3rd level</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-item"><a href="#">Second level</a></li>
                    <li class="dropdown-item"><a href="#">Second level</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="dropdown-item px-0 text-secondary" href="#">
                <i class="fas fa-envelope">&nbsp;&nbsp;</i>
                <small>Mời các thành viên</small>
            </a>
        </li>
        <li class="nav-item">
            <a class="dropdown-item px-0 text-secondary" href="#">
                <i class="fas fa-credit-card">&nbsp;&nbsp;</i>
                <small>Chi tiết hóa đơn</small>
            </a>
        </li>
        <li class="nav-item">
            <a class="dropdown-item px-0 text-secondary" href="#">
                <i class="fas fa-list-alt">&nbsp;&nbsp;</i>
                <small>Quản lí đăng ký</small>
            </a>
        </li>
    </ul>
    <div class="dropdown-divider"></div>

    <ul class="nav d-block">
        <li class="nav-item">
            <a class="dropdown-item px-0 text-secondary" href="#">
                <i class="fas fa-gift">&nbsp;&nbsp;</i>
                <small>Yêu cầu tính năng</small>
            </a>
        </li>
        <li class="nav-item">
            <a class="dropdown-item px-0 text-secondary" href="#">
                <i class="fas fa-bullhorn">&nbsp;&nbsp;</i>
                <small>Cập nhật sản phẩm</small>
            </a>
        </li>
        <li class="nav-item">
            <div class="dropright">
                <a class="dropdown-item dropdown-toggle px-0 text-secondary" href="#">
                    <i class="fas fa-heart">&nbsp;&nbsp;</i>
                    <small>Gửi lời mời</small>
                </a>
                <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                    <li class="dropdown-item"><a tabindex="-1" href="#">Second level</a></li>
                    <li class="dropdown-submenu">
                        <a class="dropdown-item" href="#">Even More..</a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-item"><a href="#">3rd level</a></li>
                            <li class="dropdown-submenu"><a class="dropdown-item" href="#">another
                                    level</a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-item"><a href="#">4th level</a></li>
                                    <li class="dropdown-item"><a href="#">4th level</a></li>
                                    <li class="dropdown-item"><a href="#">4th level</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-item"><a href="#">3rd level</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-item"><a href="#">Second level</a></li>
                    <li class="dropdown-item"><a href="#">Second level</a></li>
                </ul>
            </div>
        </li>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item px-0 text-secondary" href="#">
            <i class="fas fa-plus">&nbsp;&nbsp;</i>
            <small>Thêm công ty</small>
        </a>
    </ul>
</div>