<div class="sidebar-container" style="height:100%; overflow-x: visible">
    <div class="company-header-container align-items-center">
        <button class="hamburger hamburger--arrow is-active pr-0" type="button">
            <span class="hamburger-box">
                <i class="fas fa-angle-left fa-2x"></i>
            </span>
        </button>
        <div class="company maximized">
            <div class="company-name-user">
                <h1 class="name">Cloudjet</h1>
                <h2 class="user">Hong Le Viet</h2>
            </div>
        </div>
        <div class="company-settings-notifications d-flex">
            <div class="dropdown m-2" style="position: unset">
                <a href="#" class="toggle-notification" 
                    aria-haspopup="true" aria-expanded="false"
                    data-toggle="dropdown" id="toggle-notification">
                    <i class="fas fa-bell"></i>
                </a>
                {%- include sidebar_notification.html -%}
            </div>
            <div class="dropdown m-2" style="position: unset">
                <a class="toggle-setting" href="#" id="dropdownConfiguration"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-cog "></i>
                </a>
                {%- include sidebar_setting.html -%}
            </div>
        </div>
    </div>

    <div class="nav-container">
        <ul class="nav-list">
            <li class="nav-item my-3">
                <form class="form-inline">
                    <input class="form-control" type="text" placeholder="Tìm kiếm ứng viên" aria-label="Search"
                        style="background-color:#767676; font-size: 13px; border: none; width: 100%; height: 90%;">
                </form>
            </li>
            <li class="nav-item">
                <a class="nav-to pl-0 " href="{{ '/' | relative_url }}">
                    <i class="fas fa-home">&nbsp;</i>
                    <span>Trang chủ</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-to nav-to pl-0 " href="{{ '/inbox/' | relative_url }}">
                    <i class="fas fa-envelope">&nbsp;</i>
                    <span>Hộp thoại</span>
                </a>
            </li>
            <li class="nav-item">
                <button class="maximized btn btn-blue btn-xs add" href="#" ng-click="newTask()"><i class="fa fa-plus"></i></button>
                <a class="nav-to" href="{{ '/tasks/' | relative_url }}">
                    <i class="fas fa-check-square">&nbsp;&nbsp;</i>
                    <span>Công việc</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-to pl-0 " href="#">
                    <i class="far fa-calendar-alt">&nbsp;&nbsp;</i>
                    <span>Lịch</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-to pl-0 " href="#">
                    <i class="fas fa-chart-bar">&nbsp;</i>
                    <span>Báo cáo</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-to pl-0 " href="#">
                    <i class="fas fa-search">&nbsp;</i>
                    <span>Tìm kiếm tài năng</span>
                </a>
            </li>
            <li class="nav-item">
                <button class="maximized btn btn-blue btn-xs add" href="#" ng-click="newPosition()">
                    <i class="fa fa-plus"></i>
                </button>
                <a class="nav-to" href="#">
                    <i class="fas fa-briefcase">&nbsp;&nbsp;</i>
                    <span>Vị trí</span>
                </a>
            </li>
            <li class="nav-item">
                <button class="maximized btn btn-blue btn-xs add" href="#" ng-click="newTask()">
                    <i class="fa fa-plus"></i>
                </button>
                <a class="nav-to" href="#">
                    <i class="fas fa-users">&nbsp;</i>
                    <span>Ứng cử viên</span>
                </a>
            </li>
        </ul>
    </div>

</div>