---
layout: default
---

<header class="my-2 border container">
    <div class="row d-flex">
        <h4 class="col-3 align-self-center">Bảng điều khiển</h4>
        <div class="col-9">
            <ul class="list-inline d-flex align-items-center justify-content-end" style="width: 100%; height: 100%;">
                <li class="list-inline-item d-flex mx-4" style="height: 100%">
                    <h5 class="d-flex align-items-center">Số liệu vừa qua</h5>
                </li>
                <li class="list-inline-item d-flex mx-4" style="height: 100%">
                    <h6 class="d-flex align-items-center">1&nbsp;<small>Vị trí<br>còn trống</small>
                    </h6>
                </li>
                <li class="list-inline-item d-flex mx-4" style="height: 100%">
                    <h6 class="d-flex align-items-center">1&nbsp;<small>Ứng<br>viên mới</small>
                    </h6>
                </li>
                <li class="list-inline-item d-flex mx-4" style="height: 100%">
                    <h6 class="d-flex align-items-center">0&nbsp;<small>Ứng viên<br>tiến tới</small>
                    </h6>
                </li>
                <li class="list-inline-item d-flex mx-4" style="height: 100%">
                    <h6 class="d-flex align-items-center">0&nbsp;<small>Ứng viên<br>đã thuê</small>
                    </h6>
                </li>
            </ul>
        </div>
    </div>
</header>
<div class="row ">
    <div class="col">
        <div class="container border my-4">

        </div>
    </div>
    <div class="col">
        <div class="container border my-4">

        </div>
    </div>
    <div class="col">
        <div class="container border my-4">

        </div>
    </div>

</div>